/datasets/xto_images
/datasets/xto_images_test
/datasets/symbols_2
/datasets/symbols
/datasets/symbols_test_2
/datasets/symbols_test_3
/examples/ocr_oneconv_file.go
/examples/ocr_oneconv.go
/.vscode
/python_test
main
*.py
examples/datasets/fonts_ocr/out/*.png